/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.section {
  padding: 4rem 2rem;
  text-align: center;
}

.sectionAlt {
  background-color: var(--ifm-color-emphasis-100);
}

.videoContainer {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  max-width: 800px;
  /* Limit max width */
  margin: 2rem auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.videoContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.videoPlaceholderContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--ifm-color-emphasis-200);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed var(--ifm-color-emphasis-400);
  border-radius: 8px;
}